<?xml version="1.0" encoding="utf-8"?>
<module>
    <name>WHMCS</name>
    <version>111</version>
    <type></type>
    <defaultcat>Server Admin</defaultcat>
    <desc>WHMCS is a licensed billing system.</desc>
    <authorname>knivey</authorname>
    <authoremail>knivey@botops.net</authoremail>
    <authorurl>https://github.com/knivey/</authorurl>
    <updateurl>http://zppy.botops.net/whmcs.xml</updateurl>
</module>